@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Noto+Serif&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

h1 {
  font-family: "Lobster Two";
}

h2 {
  font-family: "DM Mono";
}

body {
  font-family: "Noto Serif";
}

.center {
  text-align: center;
  margin-bottom: 10%;
}

/* button styles */
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: deepskyblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: #33ccff;
}

.button:active {
  background-color:#99e6ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Dashed border */
hr.dashed {
  border-top: 2px dashed #bbb;
}