@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

body {
  background-color: black;
}

h1 {
  font-family: "Raleway";
  font-weight: 800;
  color: red;
}

h3 {
  font-family: "Raleway";
  font-weight: 400;
  color: white;
  /* text-align: center; */
}

p {
  font-family: "Raleway";
  font-weight: 400;
  color: white;
}


.container-title {
  display: flex; 
  padding: 5px;
  justify-content: left;
}

.title-box {
  flex: 1;
}


.main_img {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; */
}

.caption {
  /* text-align: center; */
}


/* Show hide tab logic */
.tabContainer {
  width: 90%;
  height: 100%;
}

.container-menu {
  display: flex;
  padding: 10px;
  justify-content: right;
}

.tabContainer .buttonContainer {
  flex: 50%;
  height: 15%;
}
.tabContainer .buttonContainer button{
  width: 10%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
}
.tabContainer .tabPanel {
  height: 100%;
  padding-top: 10px;
  box-sizing: border-box;
  display: none;
}

.content {
  display: grid;
  position: relative;
}

.item {
  padding: 100px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 10 ;
  /* margin: 10%; */
  /* position: absolute; */
}