@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

body {
  background-color: black;
}

h1 {
  font-family: "Raleway";
  font-weight: 800;
  color: red;
}

h2 {
  font-family: "Raleway";
  font-weight: 600;
  color: white;
}

h3 {
  font-family: "Raleway";
  font-weight: 400;
  color: white;
  /* text-align: center; */
}

p {
  font-family: "Raleway";
  font-weight: 400;
  color: white;
}

.result {
  font-family: "Raleway";
  font-weight: 400;
  color: white;
}

/* Header */
.container-title {
  display: flex;
  /* flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1; */
  margin: 0;
  justify-content: left;
  height: 40px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 61%,
    rgba(89, 4, 4, 1) 77%,
    rgba(255, 0, 0, 1) 100%
  );
}
.title-box {
  flex: 1;
  align-items: center;
  margin-top: -15px;
  margin-left: 15px;
}

/* Footer */
.footer {
  position: relative;
  padding: 5px;
  width: 100%;
  background-color: #470807;
  color: gray;
  text-align: right;
}

/* Show/Hide Tabs */

.tabs {
  display: flex;
  height: 1500px;
}

.tabs__sidebar {
  margin-left: 15%;
  width: 150px;
  /* width: 125px; */
  flex-shrink: 0;
  border-right: 1px solid white;
}

.tabs__button {
  display: block;
  padding: 20px;
  width: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  text-align: right;
  cursor: pointer;
}

/* When hover over button font color should turn red */
.tabs__button:active {
  color: red;
}

/*When button is selectd, the text should be bold & red, and the bottom border should be a white line  */
.tabs__button--active {
  color: red;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.tabs__content {
  padding-top: 20px;
  /* height: 100%; */
  padding-left: 10%;
  display: none;
}

.tabs__content--active {
  height: 100%;
  display: block;
}

/* .tabs__content > :first-child {
  margin-top: 0;
} */

/* For each item on homepage */
.item {
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
  /* grid-column-start: 1;
  grid-column-end: 10 ; */
}


/* Search form */
.search-form {
  max-width: 1000px;
  /* width: 100%; */
  /* margin: auto; */
  padding: 20px;
}

.search-form label {
  color: white;
  font-family: "Raleway";
  display: inline-block;
}

input[type="text"] {
  width: 100%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #black;
  box-sizing: border-box;
  border-radius: 5px;
}

select {
  width: 50%;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #black;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-btn {
  width: auto;
  padding: 10px 18px;
  background-color: black;
  color: white;
}

/* Search results */
.results_container {
  width: 700px;
  padding: 10px;
  /* margin: 10px; */
}


/* TODO: display image inline with descrips */
.poster-img {
  width: 200px;
  height: auto;
}

.star-rating {
  color: red;
}

.votes {
  font-size: small;
}

.show-more-btn {
  width: auto;
  padding: 5px 20px;
  background-color: red;
  color: white;
}