<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Movie DB</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}"
    />
</head>

<body>
    <div class="container-title">
            <div class="title-box">
                <h1>THE MOVIE DB</h1>
            </div>
    </div>
    <!-- Container that wraps everything to show/hide INCLUDING the menu-->
    <div class=tabs>
        <div class="tabs__sidebar">
                <button class="tabs__button" data-for-tab="1">Movies  &#8594; </button>
                <button class="tabs__button" data-for-tab="2">Search  &#8594; </button>
        </div>

        <!-- Panel 1: Home tab with trending stuff -->
        <div class="tabs__content tabs__content--active" data-tab="1">
            <!-- <div class="content"> -->

                <!-- TODO: convert to slideshow -->
                <div class="item">
                    <h3>Trending Movies</h3>
                    <img class="main_img" src="{{ movie_image_path }}">
                    <p class="caption">{{ movie_text }}</p>
                </div>
                <div class="item">
                    <h3>TV Shows On-Air Today</h3>
                    <img class="main_img" src="{{ show_image_path }}">
                    <p class="caption">{{ show_text }}</p>
                </div>

            <!-- </div> -->
        </div>

        <!-- Panel 2: Search feature tab-->
        <div class="tabs__content" data-tab="2">

            <form name="searchForm" action="index" onsubmit="return validateInput()" method="post">

            <label>Keyword* <input type="text" name="keyword" id="keyword" value="" /></label>

            <label for="category">Category*</label>
                <select id="category" name="category">
                <option value=""></option>
                <option value="movies">Movies</option>
                <option value="tv-shows">TV Shows</option>
                <option value="movies-and-tv-shows">Movies and TV Shows</option>
                </select>

            <input type="submit" value="Search" onclick="do_ajax();">

            <!-- <button type="button" id="btn-post" onclick="do_ajax();">Search</button> -->

            <!-- TODO: add clear button -->
            <!-- TODO: implement 'invalid input' alert -->

            <div id="result"></div>
            </form>
        </div>



    <!-- Ends the shown/hidden content container -->
    </div>




<div class="footer"><p>Erica Xia - CSCI 571</p></div>

    <script>
        function do_ajax() {
            var req = new XMLHttpRequest();
            var result = document.getElementById('result');
            req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // console.log(this.responseText);
                    result.innerHTML = req.responseText;
                } else {
                    console.log("Something happened");
                }
            }
            req.open('POST', '/', true);
            req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
            req.send("query=" + document.getElementById('query').value);
        }
    </script>
    <script src="{{ url_for('static', filename='js/tabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validateform.js') }}"></script>

</body>

</html>