#wrapper {
  margin-left: auto;
  margin-right: auto;
  /* width: 2000px; */
  width: 1000px;
}

.content {
    display: block;
    /* width: 100%; */
    /* margin-top: 3%; */
    margin-left: 8%;
    margin-right: auto;
    /* margin-right: auto; */
}

h1 {
  color: #030A6A;
  text-align: center;
}

h2 {
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: purple;
  text-align: center;
}

/* Nav bar  */
/* TODO: Fix left padding and scroll bar width to fill page width */
.topnav {
  background-color: #FAEBD8;
  overflow: hidden;
  width: 100%;
  /* min-height: 100vh; */
  /* max-height: 100%; */
  /* margin-left: auto;
  margin-right: auto; */
}

.links {
  margin-left: 8%;
  text-align: center;
}

.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 10px 8px;
  /* padding-left: 80px; */
  /* margin-left: 20px; */
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Add a color to the active/current link */
.topnav a.active {
  color: purple;
}

/* Main img */
/* TODO: fix image size. Fix text and button placement so it is more nearer the upper left corner */
.rest-img {
  display: block;
  margin-top: 3%;
  width: 90%;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Centered text */
.centered {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
  transform: translate(1%, -60%);
  color: #FFF6DA;
  font-size: 3em;
  font-weight: bold;
}

/* Button on image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50  %, -50%);
  -ms-transform: translate(-100%, -90%);
  padding: 8px 20px;
  border-style: double;
  border-width: 3 px;
  cursor: pointer;
}

.img-small-left {
  display: inline-block;
  margin-top: 2%;
  width: 400px;
  height: 300px;
  border: 10px solid #FEE3E6;
}

.img-small-right {
  display: inline-block;
  margin-top: 2%;
  /* margin-left: 50%;
  margin-right: 50%; */
  width: 400px;
  height: 300px;
  border: 10px solid #ADD9E3;
}

.col-right {
  float: right;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0;
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 80px;
}

.col-left{
  float: left;
  display: inline-block;
  width: 350px;
  height: 300px;
  margin: 0;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
}

.cuisine {
  /* color: navy; */
  color: #355B9A;
  font-weight: bolder;
  margin-bottom:0;
}

.desc {
  margin:0;
}