body, html {
  overflow-x: hidden !important;
  /* height: 100%; */
  background-color: transparent;
}

/* TODO: Restaurant image: fix scrolling so the scroll bar scrolls down inside the image while it remains fixed */
.rest-img {
  background-image: url('../images/Restaurant.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat; 
  background-position: center;
  /* background-size: 70%; */

}

.rest-img2 {
  display: block;
  margin-top: 3%;
  width: 90%;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.content {
    display: block;
    margin-left: 8%;
    margin-right: auto;
}

h1 {
  color: #030A6A;
  text-align: center;
}

h2 {
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: purple;
  text-align: center;
}

/* Nav bar  */
.topnav {
  background-color: #FAEBD8;
  overflow: hidden;
  width: 200%;
  padding-left: 21%;
  margin-left: -300px;
  /* min-height: 100vh; */
  /* max-height: 100%; */
  /* margin-left: auto;
  margin-right: auto; */
}

.links {
  margin-left: 8%;
  text-align: center;
}

.topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 10px 8px;
  /* padding-left: 80px; */
  /* margin-left: 20px; */
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.topnav a:hover {
  cursor: pointer;
  color: blue;
}


/* Add a color to the active/current link */
.topnav a:active {
  color: red;
}

.topnav a:visited {
  color: purple;
}

.container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 40%;
  left: 20%;
  right: 20%;
  transform: translate(1%, -50%);
  color: #FFF6DA;
  font-size: 3em;
  font-weight: bold;
}

/* Button on image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(40%, 24%);
  padding: 8px 20px;
  border-color: black;
  border-style: double;
  border-width: 3px;
  cursor: pointer;
}

.img-small-left {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 400px;
  height: 300px;
  border: 10px solid #FEE3E6;
}

.img-small-right {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 400px;
  height: 300px;
  border: 10px solid #ADD9E3;
}

.col-right {
  float: right;
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 80px;
}

.col-left{
  float: left;
  display: inline-block;
  text-align: left;
  width: 300px;
  height: 300px;
  margin-left: 0;
  margin-right: 50px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 80px;
}

.cuisine {
  color: #355B9A;
  font-weight: bolder;
  margin-bottom:0;
}

.desc {
  margin:0
}

.desc2 {
  margin:0;
  width: 250px;
}

.subtitle {
  margin-bottom: -1%;
}